/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #343a40;
    --secondary: #ff5e57;
    --dark: #343a40;
    --light: #F6F1F1;

    --error-primary: #f5c6cb;
    --error-secondary: #f8d7da;
    --error-dark: #721c24;

    --pending-primary: #ff5e57;
    --pending-secondary: #fc8e89;
    --pending-dark: #ff4a40;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary);
}

.wrapper {
    width: 400px;
    border-radius: 7px;
    background: var(--light);
}

.wrapper header {
    color: var(--primary);
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

header i {
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}

.wrapper.active header i {
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .inputs {
    /* display: none; */
    margin: 20px 25px 30px;
}

.wrapper.active .inputs {
    display: none;
}


/* Information Text */
.inputs .info-txt {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.info-txt.error {
    display: block;
    background: var(--error-dark);
    background: var(--error-secondary);
    border: 1px solid var(--error-primary);
}

.info-txt.pending {
    display: block;
    color: var(--pending-dark);
    background: var(--pending-secondary);
    border: 1px solid var(--pending-primary);
}

/* .inputs :where(input, buton) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
} */

/*Input*/
.inputs :where(input) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

/*Buttons*/
.get-weather-btn, .get-location-btn {
    color: #fff;
    cursor: pointer;
    background: var(--primary);
    width: 100%;
    height: 55px;
    margin: 1rem 0 ;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.inputs input {
    text-align: center;
    border: 1px solid #bfbfbf;
}

.inputs input:is(:focus, :valid) {
    border: 2px solid var(--primary);
}

/* Seperator (or) Line */
.inputs .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

/* Get Device Location Button */
.inputs button {
    color: #fff;
    cursor: pointer;
    background: var(--primary);
}


/* Weather part */
.wrapper .weather-part {
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part {
    display: flex;
}

.weather-part img {
    max-width: 125px;
}

.weather-part .temp {
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .number {
    font-weight: 600;
}

.weather-part .temp .degree {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location {
    font-size: 21px;
}

.weather-part .location {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.location i {
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #bfbfbf;
    justify-content: space-between;
}

.bottom-details .column {
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i {
    color: var(--primary);
    font-size: 40px;
}

.column.humidity {
    border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .degree {
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.details p {
    font-size: 14px;
    margin-top: -6px;
}