/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}

#wrapper {
    width: 400px;
    border-radius: 7px;
    background: #fff;
}

#wrapper header {
    color: aqua;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

header i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}

#wrapper .active header{
    font-size: 30px;
    margin-left: 5px;
}
#wrapper .inputs {
    /* display: none; */
    margin: 20px 25px 30px;
}
#wrapper.active .inputs{
    display: none;
}


/* Information Text */
.inputs .info-txt {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.info-txt.error {
    display: block;
    background: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info-txt.pending {
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.inputs :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.inputs input {
    text-align: center;
    border: 1px solid #bfbfbf;
}

.inputs input:is(:focus, :valid) {
    border: 2px solid #43affc;
}

/* Seperator (or) Line */
.inputs .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}

/* Get Device Location Button */
.inputs button {
    color: #fff;
    cursor: pointer;
    background: aqua;
}


/* Weather part */
#wrapper .weather-part{
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#wrapper.active .weather-part{
    display: none;
}

.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}
.weather-part .temp .number{
    font-weight: 600;
}
.weather-part .temp .degree{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .location{
    font-size: 21px;
}
.weather-part .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.location i{
    font-size: 22px;
    margin-right: 5px;
}
.weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #bfbfbf;
    justify-content: space-between;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}
.column i{
    color: #43affc;
    font-size: 40px;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .degree{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}
.details p{
    font-size: 14px;
    margin-top: -6px;
}